h1{color: blueviolet;}
p{color: aqua;} 
nav{
    background-color: rgb(80, 64, 228);
}
a{
font-size: 20px;
color: rgb(72, 206, 55);
font-family:Arial, Helvetica, 'Times New Roman', Times, serif ;
text-decoration: none;

}


ol{ color: rgb(142, 218, 71); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.Logo>img{
    width:150px;
    
}
